@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

#span::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #f15a24;
  position: absolute;
  top: 50%;
  z-index: -1;
}
#span-title::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #183d6d;
  position: absolute;
  top: 50%;
  z-index: -1;
}

#span-item::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #f15a24;
  position: absolute;
  top: 50%;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  #span-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #f15a24;
    top: auto;
    bottom: -4px;
  }
}

.marquee {
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 20s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

.custom-ol {
  counter-reset: section;
}

.custom-ol > li {
  counter-increment: section;
}

.custom-ol > li::before {
  content: counters(section, ".") " ";
  color: inherit; /* Kế thừa màu chữ từ mục chính */
}

.custom-ol > li > .nested-ol {
  counter-reset: section;
}

.custom-ol > li > .nested-ol > li {
  counter-increment: section;
}

.custom-ol > li > .nested-ol > li::before {
  content: counters(section, ".") " ";
  color: inherit; /* Kế thừa màu chữ từ mục chính */
}

.custom-ol > li:hover::before,
.custom-ol > li:hover > a {
  color: #f15a24; /* Tailwind's blue-600 */
}

.nested-ol > li:hover::before,
.nested-ol > li:hover > a {
  color: #f15a24; /* Tailwind's blue-600 */
}

.hover-animation {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.hover-animation:hover::before {
  animation: shine 0.5s ease-out none;
}

.hover-animation::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
  z-index: 2;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
